<li>
    <p>
        <%=comment.content%>

            <% if(locals.user && locals.user.id==comment.user.id){%>
                <small>
                    <a href="/comments/destroy/<%=comment.id%>" class="button">Delete</a>
                </small>
                <%}%>
                    <br>
                    <small class="about-post">
                        <%=comment.user.name%>
                            <%=comment.createdAt%>
                    </small>
    </p>
</li>