<link rel="stylesheet" href="/css/header.css">
<header>
    <section id="nav-bar">
        <div id="home">
            <a href="/">
                Home
            </a>
        </div>
        <div id="my-profile-sign-out">
            <% if(locals.user) { %>
                <div class="my-profile-sign-in">
                    <a href="/users/profile/<%=user.id%>">
                        My Profile
                    </a>
                </div>
                <div class="sigh-out-sign-up">
                    <a href="/users/sign-out">Sign Out</a>
                </div>

                <%} else{ %>
                    <div class="my-profile-sign-in">
                        <a href="/users/sign-in">Sign In</a>
                    </div>
                    <div class="sigh-out-sign-up">
                        <a href="/users/sign-up">Sign Up</a>
                    </div>
                    <%}%>
        </div>
    </section>
</header>