<p>Submit your email here and check your inbox to reset password</p>

<form action="/users/forgot-password-email" method="post" >
    <input type="email" name="email" placeholder="Type your email">
    <input type="submit" value="Submit">
</form>