<h1>Sigh In</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign In">
</form>
<p>Don't have account ? <a href="/users/sign-up">Sign Up</a> </p>