<link rel="stylesheet" href="/css/user_sign_in.css">

<div id="sign-in-form-container">
    <h1>Sign In</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" class="button" value="Sign In">
</form>

<p> <a href="/users/forgot-password">Forgot Password?</a> </p>

<p>
    <a href="/users/auth/google">Sign in with Google</a>
</p>
</div>