<h1>Sign Up</h1>
<form action="/users/create" method="post">
    <input type="name" name="name" placeholder="Your name">
    <input type="email" name="email" placeholder="Your email">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm_password" placeholder="Confirm password">
    <input type="submit" value="Sign Up">
</form>
<p>Have an account ? <a href="/users/sign-in">Sign In</a> </p>