.about-post {
    color: rgb(118, 118, 118);
    font-size: small;
}

main {
    margin-left: 10px;
    height: 100%;
}

#home-container {
    // color: rgb(188, 188, 188);
    margin-top: -1%;
    height: 100%;
    display: flex;

    #quick-links-and-all-users {
        // position: fixed;
        width: 23%;
        flex-shrink: 1;
        padding: 10px;

        #left-flex {
            position: fixed;

            #quick-links {
                min-height: 30vh;
            }

            #all-users {
                width: 100%;
                padding: 10px;
                height: 100%;
            }
        }
    }

    #feed-posts {
        // margin-left: 22%;
        width: 46%;
        padding: 10px 50px;
        flex-shrink: 2;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;

        ul {
            list-style: none;
        }
    }

    #friends-container {
        #friends{
            position: fixed;
            width:23%
        }
        padding: 10px;
        height: 100%;
        flex-shrink: 1;
    }
}

#post-user-name {
    color: rgb(159, 37, 180);
}

.post-user-photo {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;

    img {
        // size: cover;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        margin-bottom: -10px;
    }
}