#sign-up-form-container {
    text-align: center;
    width: 25%;
    margin: 8% auto;

    h1 {
        margin-bottom: 15%;
    }

    input {
        margin: 15px auto;
        display: block;
        width: 100%;
        padding:10px;
    }

    #sign-up-submit {
        width: 70%;
        margin: 0 auto;
    }
}