<div>
    <!-- CHANGE FOR DEPLOYMENT -->
    <p><a href="http://34.224.64.126/users/reset-password/<%=resetPasswordToken.token%>">Click </a> to reset Codeial Password</p>
    <!-- <p><a href="http://localhost:8000/users/reset-password/<%=resetPasswordToken.token%>">Click </a> to reset Codeial Password</p> -->
</div>