#user-chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid lightgray;
  border-radius: 15px;
  height: 45vh;
  width: 20%;
  min-width: 300px;
  background: #efeeee;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgray; }
  #user-chat-box #chat-message-list {
    list-style: none;
    padding: 5px;
    height: 78%;
    overflow: auto; }
    #user-chat-box #chat-message-list li {
      margin: 5px 0; }
      #user-chat-box #chat-message-list li .sender-detail {
        color: gray; }
    #user-chat-box #chat-message-list .other-message {
      text-align: left;
      color: black; }
      #user-chat-box #chat-message-list .other-message span {
        display: inline-block;
        border-radius: 8px;
        background-color: #e8e8e8;
        padding: 3px 5px; }
    #user-chat-box #chat-message-list .self-message {
      text-align: right;
      color: aliceblue; }
      #user-chat-box #chat-message-list .self-message span {
        display: inline-block;
        padding: 3px 5px;
        border-radius: 8px;
        background-color: #c000d5; }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 25%;
      width: 70%;
      border-radius: 10px;
      margin: 0 2px; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 40%;
      width: 30%;
      font-size: 20px;
      color: white;
      border: none;
      background: #e43cf7;
      border-radius: 10px; }
