#sign-in-form-container {
  text-align: center;
  width: 25%;
  margin: 8% auto; }
  #sign-in-form-container h1 {
    margin-bottom: 15%; }
  #sign-in-form-container input {
    margin: 15px auto;
    display: block;
    width: 100%; }
